body{
background:#222;
color:white;
font-family:Arial;
text-align:center;
}

.game{
width:700px;
margin:auto;
padding:20px;
}

button{
padding:12px;
margin:8px;
font-size:16px;
cursor:pointer;
}

#stats{
font-size:22px;
margin:20px;
}

#log{
margin-top:20px;
font-size:20px;
color:#7CFC00;
}
